<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Execution</title>
    <!--bootstrap.css-->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css"/>
    <!--bootstrap-switch-->
    <link rel="stylesheet" href="/webjars/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <!--customCss-->
    <link rel="stylesheet" href="css/execution.css">
    <!-- jquery -->
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!--Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!--Bootstrap.js-->
    <script src="/webjars/bootstrap/js/bootstrap.js"></script>
    <!--Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--bootstrap-switch-->
    <script src="/webjars/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <!--axios-->
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <!--head-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top" id="nav_head">
            <div class="container">
                <a class="navbar-brand" href="#">AlgGroup</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{navHead_li1}}<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item  active">
                            <a class="nav-link" href="#">{{navHead_li2}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{navHead_li3}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">{{navHead_btn1}}</button>
                <input type="checkbox" name="my-checkbox" checked id="language">
            </div>
        </nav>
        <br>
        <!--body-->
        <div class="container mt-5">
            <!--body的导航栏-->
            <nav id="nav_body">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!--Home-->
                    <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{navBody_a1}}</a>
                    <!--algorithms-->
                    <a class="nav-item nav-link ml-1" id="nav-algorithms-tab" data-toggle="tab" href="#nav-algorithms" role="tab" aria-controls="nav-algorithms" aria-selected="false">{{navBody_a2}}</a>
                    <!--New Task-->
                    <a class="nav-item nav-link ml-1" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="false">{{navBody_a3}}</a>
                    <!--Query Task-->
                    <a class="nav-item nav-link ml-1" id="nav-query-tab" data-toggle="tab" href="#nav-query" role="tab" aria-controls="nav-query" aria-selected="false">{{navBody_a4}}</a>
                </div>
            </nav>
            <!--body的导航中不同选项对应内容-->
            <div class="tab-content" id="nav-tabContent">
                <!--Home的内容-->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="container" id="jumbotron">
                        <div class="jumbotron">
                            <h1 class="display-4 font-weight-normal">{{home_title}}</h1>
                            <p class="lead m-0 ml-2">{{home_text}}</p>
                            <hr class="my-4">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <p class="lead font-weight-normal" style="font-size: 25px">{{home_ul1}}</p>
                                    <ul class="list-group ml-3 mb-4">
                                        <li><svg class="bi bi-check-box text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul1_li1}}</li>
                                        <li><svg class="bi bi-check-box text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul1_li2}}r</li>
                                        <li><svg class="bi bi-check-box text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul1_li3}}</li>
                                        <li><svg class="bi bi-check-box text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul1_li4}}</li>
                                        <li><svg class="bi bi-check-box text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h10a1.5 1.5 0 001.5-1.5V8a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V3a.5.5 0 01.5-.5h8a.5.5 0 000-1H3A1.5 1.5 0 001.5 3v10z" clip-rule="evenodd"/>
                                        </svg>&nbsp;......</li>
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <p class="lead font-weight-normal" style="font-size: 25px">{{home_ul1}}</p>
                                    <ul class="list-group ml-3 mb-4">
                                        <li><svg class="bi bi-diamond text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul2_li1}}</li>
                                        <li><svg class="bi bi-diamond text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul2_li2}}</li>
                                        <li><svg class="bi bi-diamond text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul2_li3}}</li>
                                        <li><svg class="bi bi-diamond text-primary" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z" clip-rule="evenodd"/>
                                        </svg>&nbsp;{{home_ul2_li4}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--algorithms的内容-->
                <div class="tab-pane fade" id="nav-algorithms" role="tabpanel" aria-labelledby="nav-algorithms-tab">
                    <div class="row mt-3">
                        <div class="col-3 border-right">
                            <div class="accordion mb-3" id="accordionExample">
                                <div class="card">
                                    <div class="card-header p-0" id="headingOne">
                                        <h2 class="mb-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend" id="button-addon3">
                                                    <button class="btn btn-link text-left pl-2 pr-2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        {{algorithms_filter}}&nbsp;<svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control pl-4 border-top-0 border-bottom-0 border-right-0" v-model.trim="search" @keyup="searchAlgorithm" :placeholder="algorithms_search" aria-label="Example text with two button addons" aria-describedby="button-addon3" height="inherit">
                                                <span class="input-img">
                                                <svg class="bi bi-search" width="0.7em" height="0.7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                                                </svg>
                                                </span>
                                            </div>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse border-bottom" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body pt-0 pb-2 pl-1 pr-1">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item pt-2 pb-0 pl-2">{{algorithms_filter1}}</li>
                                                <li class="list-group-item pb-4">
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2 active">All</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Heuristic</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Optimization</button>
                                                </li>
                                                <li class="list-group-item pt-2 pb-0 pl-2">{{algorithms_filter2}}</li>
                                                <li class="list-group-item pb-4">
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2 active">All</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Positive Region</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Entropy</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Others</button>
                                                </li>
                                                <li class="list-group-item pt-2 pb-0 pl-2">{{algorithms_filter3}}</li>
                                                <li class="list-group-item pb-4">
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2 active">All</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">None</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">NEC</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm mt-2">Dependency Calculation</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a v-for="(algorithm,index) in algorithmList" :class="index==0?'nav-link active':'nav-link'" :id="algorithm.algorithm_name" data-toggle="pill" :href="'#'+'v-pills-'+algorithm.algorithm_name" role="tab" :aria-controls="'v-pills-'+algorithm.algorithm_name" :aria-selected="index==0?'true':'false'">{{algorithm.algorithm_name}}</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div v-for="(algorithm,index) in algorithmList" :class="index==0?'tab-pane fade show active':'tab-pane fade'" :id="'v-pills-'+algorithm.algorithm_name" role="tabpanel" :aria-labelledby="algorithm.algorithm_name">
                                    <h1 class="text-center"><svg class="bi bi-star-fill text-warning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>{{algorithm.algorithm_name}} {{algorithms_info_title}}</h1>
                                    <hr>
                                    <h4><svg class="bi bi-tag text text-warning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                                    </svg>{{algorithms_info_papers}}</h4>
                                    <ul class="list-group list-group-flush ml-3 pr-2 mb-4">
                                        <li class="list-group-item pb-0 pt-1 pl-1 pr-2 border-top-0 fix-context">
                                            <a :href="algorithm.algorithm_paper_link" target="_blank"><svg class="bi bi-dot text-primary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>
                                        </svg>{{algorithm.algorithm_paper_reference}}</a></li>
                                    </ul>
                                    <h4><svg class="bi bi-tag text text-warning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                                    </svg>{{algorithms_info_intro}}</h4>
                                    <div class="jumbotron jumbotron-fluid mb-4 pt-2 pb-2 rounded">
                                        <div class="container">
                                            <p class="lead mb-0">{{algorithm.algorithm_description}}</p>
                                        </div>
                                    </div>
                                    <h4><svg class="bi bi-tag text text-warning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                                    </svg>{{algorithms_info_how}}</h4>
                                    <div class="card mb-3 mb-4">
                                        <img src="pic/timg.jpg" class="card-img-top" alt="several steps">
                                        <div class="card-body">
                                            <p class="card-text">Follow these steps help you get start quickly.</p>
                                        </div>
                                    </div>
                                    <h4><svg class="bi bi-tag text text-warning" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                                    </svg>{{algorithms_info_parameter}}</h4>
                                    <ul class="list-group list-group-flush ml-3 pr-2 mb-4">
                                        <div class="row">
                                            <div class="col-4 mb-3 pl-2 pr-2" v-for="(parameter,index) in parameterList[algorithm.algorithm_id]">
                                                <div class="card text-center border border-warning">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{parameter.parameterName}}</h5>
                                                        <p class="card-text">{{parameter.parameterDescription}}</p>
                                                    </div>
                                                    <ul class="list-group list-group-flush text-left">
                                                        <li class="list-group-item pl-2 pr-2 pt-2 pb-2">Type:{{parameter.parameterType}}</li>
                                                        <li class="list-group-item pl-2 pr-2 pt-2 pb-2">Default Value:{{parameter.parameterDefaultValue}}</li>
                                                    </ul>
                                                    <div class="card-footer text-muted font-weight-light pt-1 pb-1">
                                                        Parameter{{index+1}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--New Task的内容-->
                <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">asdfasdfafs</div>
                <!--Query Task的内容-->
                <div class="tab-pane fade" id="nav-query" role="tabpanel" aria-labelledby="nav-query-tab">asdfafs</div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            //------------------public-----------------
            algorithmList: [],
            parameterList: {},

            //------------------HeaderNav-----------------
            navHead_li1: '',
            navHead_li2: '',
            navHead_li3: '',
            navHead_btn1: '',
            //------------------BodyNav-----------------
            navBody_a1: '',
            navBody_a2: '',
            navBody_a3: '',
            navBody_a4: '',
            //------------------HomeContext-----------------
            home_text: '',
            home_title: '',
            home_ul1: '',
            home_ul1_li1: '',
            home_ul1_li2: '',
            home_ul1_li3: '',
            home_ul1_li4: '',
            home_ul2: '',
            home_ul2_li1: '',
            home_ul2_li2: '',
            home_ul2_li3: '',
            home_ul2_li4: '',
            //------------------AlgorithmsContext-----------------
            algorithms_filter: '',
            algorithms_search: '',
            algorithms_filter1: '',
            algorithms_filter2: '',
            algorithms_filter3: '',
            algorithms_info_how: '',
            algorithms_info_intro: '',
            algorithms_info_papers: '',
            algorithms_info_parameter: '',
            algorithms_info_title: '',
            search: ''
        },
        created: function () {
            /*
            * 根据存储语言选择信息的cookie获取页面元素内容
            * */
            axios.get('/htmlElements').then((response) => {
                for (let i = 0; i < response.data.length; i++) {
                    for (item in this._data){
                        if (response.data[i].moduleKey==item){
                            if($.cookie("language")=='ch'){
                                this.$set(this._data,item,response.data[i].chValue);
                            }else {
                                this.$set(this._data,item,response.data[i].enValue);
                            }
                        }
                    }
                }
            });
            axios.get('/getAlgorithmsList').then((response) => {
                this.algorithmList=response.data;
            });
            axios.get('/getParameterList').then((response) => {
                this.parameterList=response.data;
            })
        },
        methods: {
            searchAlgorithm: function (event) {
                $('#v-pills-tab').children().each((index,element) => {
                    if (!($(element).text().trim().toLowerCase().indexOf(this.search.toLowerCase())>=0)){
                        $(element).addClass("d-none");
                    }else {
                        $(element).removeClass("d-none");
                    }
                });
            }
        }
    });
    $(function () {
        /**
         * 语言选择
         */
        var sta;
        var lang=$.cookie("language");
        if (lang==null){
            $.cookie("language","en");
            lang="en";
        }
        if (lang=='en'){
            sta=true;
        }else {
            sta=false;
        }
        /**
         * 页面定位
         * /

        /**
         * 开关按钮
         */
        $("#language").bootstrapSwitch({
            state: sta,
            onText: "English",
            offText: "中文",
            onColor: "primary",
            offColor: "primary",
            size: "small",
            labelWidth: "15px",
            onSwitchChange: function (event,state) {
                if (state==false){
                    $.cookie("language","ch")
                    window.location.href='/execution';
                }else {
                    $.cookie("language","en")
                    window.location.href='/execution';
                }
            }
        });
    });
</script>
</body>
</html>