<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="featureSelection.research.web.mybatisMapper.UpdateInfoMapper">
    <resultMap id= "result" type = "featureSelection.research.web.entity.UpdateInfo">
        <result column="update_content" property="updateContent" />
    </resultMap>

    <insert id="recorder" parameterType="featureSelection.research.web.entity.UpdateInfo">
        insert into update_info (update_content) values (#{updateContent})
    </insert>
</mapper>