<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>I'm title</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />

    <!-- jquery -->
    <!-- 	Web jars -->
    <!-- 		jquery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!-- 		Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!-- 		Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- 		Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--		axios-->
    <script src="../js/axios.js"></script>
</head>
<body>
<div id="div_id">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/DemoAdmin/index">AlgGroupDemoAdmin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <!--首页-->
                <li class="nav-item">
                    <a class="nav-link" href="/DemoAdmin/index">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024" width="28"
                             height="28"
                             t="1585967997279" p-id="2173" version="1.1">
                            <path d="M 806.912 524.288 h -64.512 v 281.6 c 0 8.192 -5.12 12.288 -13.312 12.288 H 602.112 c -8.192 0 -13.312 -5.12 -13.312 -12.288 V 588.8 h -153.6 v 217.088 c 0 8.192 -5.12 12.288 -13.312 12.288 H 294.912 c -8.192 0 -13.312 -5.12 -13.312 -12.288 V 524.288 h -64.512 c -5.12 0 -10.24 -2.048 -11.264 -8.192 c -3.072 -5.12 -1.024 -10.24 3.072 -14.336 l 294.912 -294.912 c 5.12 -5.12 14.336 -5.12 18.432 0 L 817.152 501.76 c 4.096 4.096 4.096 9.216 3.072 14.336 s -8.192 8.192 -13.312 8.192 Z"
                                  p-id="2174"></path>
                        </svg>
                        Home
                    </a>
                </li>
                <!--方案管理-->
                <li class="nav-item active">
                    <a class="nav-link" href="/DemoAdmin/SchemeAdmin">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024" width="28"
                             height="28" t="1585968866135" p-id="5718" version="1.1">
                            <path d="M 751.5 160.5 v 608 c 0 17.7 -14.3 32 -32 32 h -511 c -17.7 0 -32 -14.3 -32 -32 v -608 c 0 -17.7 14.3 -32 32 -32 h 511 c 17.7 0 32 14.3 32 32 Z m 0 -96 h -575 c -35.3 0 -64 28.7 -64 64 v 672 c 0 35.3 28.7 64 64 64 h 575 c 35.3 0 64 -28.7 64 -64 v -672 c 0 -35.3 -28.7 -64 -64 -64 Z"
                                  p-id="5719"></path>
                            <path d="M 639.5 288.5 h -352 c -17.7 0 -32 -14.3 -32 -32 s 14.3 -32 32 -32 h 352 c 17.7 0 32 14.3 32 32 s -14.3 32 -32 32 Z M 639.5 480.5 h -352 c -17.7 0 -32 -14.3 -32 -32 s 14.3 -32 32 -32 h 352 c 17.7 0 32 14.3 32 32 s -14.3 32 -32 32 Z M 447.5 672.5 h -160 c -17.7 0 -32 -14.3 -32 -32 s 14.3 -32 32 -32 h 160 c 17.7 0 32 14.3 32 32 s -14.3 32 -32 32 Z"
                                  p-id="5720"></path>
                            <path d="M 847.5 159.5 h -0.5 v 90.4 c 0.3 1.8 0.5 3.7 0.5 5.6 v 608 c 0 17.7 -14.3 32 -32 32 h -639 c 0 35.3 28.7 64 64 64 h 607 c 35.3 0 64 -28.7 64 -64 v -672 c 0 -35.3 -28.7 -64 -64 -64 Z"
                                  p-id="5721"></path>
                        </svg>
                        Scheme
                    </a>
                </li>
                <!--关于我们页面管理-->
                <li class="nav-item">
                    <a class="nav-link" href="/DemoAdmin/AboutusAdmin">
                        <svg t="1587625715352" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1229" width="28" height="28">
                            <path d="M828.8 195.2H195.2v633.6h633.6V195.2z m-32 601.6H227.2V227.2h569.6v569.6z"
                                  fill="#707070" p-id="1230"></path>
                            <path d="M492.8 294.4h-192v192h192v-192z m-16 176h-160v-160h160v160zM302.4 624H720v16H302.4zM302.4 542.4H720v16H302.4zM302.4 705.6H720v16H302.4zM552 380.8h169.6v16H552zM552 299.2h169.6v16H552zM552 460.8h169.6v16H552z"
                                  fill="#707070" p-id="1231"></path>
                        </svg>
                        Aboutus
                    </a>
                </li>
                <li>
                    <form action="/DemoAdmin/logout">
                        <button type="submit" class="btn btn-light">
                            <svg t="1587100384667" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" p-id="1301" width="28" height="28">
                                <path d="M510.918 967.433c-58.837 0-115.931-11.53-169.696-34.271-51.915-21.958-98.532-53.386-138.558-93.411s-71.454-86.644-93.412-138.558c-22.741-53.766-34.271-110.859-34.271-169.696 0-146.698 73.122-282.681 195.6-363.755l1.409-0.929c14.775-9.696 34.615-5.577 44.31 9.199 9.696 14.776 5.577 34.614-9.199 44.31l-1.176 0.775c-104.542 69.201-166.944 185.234-166.944 310.399 0 205.087 166.85 371.937 371.937 371.937 205.086 0 371.937-166.85 371.937-371.937 0-124.206-61.66-239.744-164.942-309.065-14.674-9.849-18.585-29.729-8.736-44.404s29.731-18.585 44.403-8.737c121.023 81.229 193.275 216.633 193.275 362.206 0 58.837-11.53 115.931-34.271 169.696-21.958 51.914-53.386 98.532-93.411 138.558s-86.644 71.453-138.559 93.411c-53.764 22.741-110.858 34.272-169.696 34.272z"
                                      fill="" p-id="1302"></path>
                                <path d="M510.918 586.962c-17.673 0-32-14.327-32-32V87.245c0-17.673 14.327-32 32-32s32 14.327 32 32v467.717c0 17.673-14.326 32-32 32z"
                                      fill="" p-id="1303"></path>
                            </svg>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal" @click="clearData()">添加方案</button>
    </nav>
    <input v-model="searchString" style="width: 200px;padding: 6px 12px;" type="search" class="form-control m-auto" id="search-input" placeholder="Search...">
    <div class="accordion m-5" id="accordionExample">
        <div class="card" v-for="(scheme,index) in filterInfo">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block" type="button" data-toggle="collapse" :data-target="'#scheme'+scheme.schemeName+index" aria-expanded="true" aria-controls="collapseOne">
                        方案名称:{{scheme.schemeName}}
                    </button>
                </h2>
            </div>
            <div :id="'scheme'+scheme.schemeName+index" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="text-align:center">
                    <h6 class="card-subtitle mb-2 text-muted ">算法名称:{{scheme.algorithmName}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">数据集:{{scheme.datasetName}}</h6>
                    <hr>
                    <p class="card-text">方案简介:{{scheme.schemeDescription}}</p>
                    <hr>
                    <span class="card-text" v-for="parameter in scheme.algorithmParameterDemoAdmin">
                            <p v-if="parameter.selected===true" style="color:green">{{parameter.parameterName}}:{{parameter.parameterValue}}</p>
                            <p v-else style="color:red">{{parameter.parameterName}}:{{parameter.parameterValue}}</p>
                        </span>
                    <hr>
                    <p class="card-text" v-if="scheme.schemeRemark"><small class="text-muted">备注:{{scheme.schemeRemark}}</small></p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" @click="getDataById(scheme.schemeId)">编辑</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#settingParameterModal" @click="getDataById(scheme.schemeId)">参数设置</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" @click="getDataById(scheme.schemeId)">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新增模态框-->
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ControlSelect1">选择算法:</label>
                            <select class="form-control" id="ControlSelect1" v-model="scheme.algorithmId">
                                <option v-for="algorithm in algorithms" :value="algorithm.algorithmId">{{algorithm.algorithmName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ControlSelect2">选择数据集:</label>
                            <select class="form-control" id="ControlSelect2" v-model="scheme.datasetId">
                                <option v-for="dataset in datasets" :value="dataset.datasetId">{{dataset.datasetName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案名称:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案简介:</label>
                            <textarea class="form-control" v-model="scheme.schemeDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案备注:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeRemark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="getParameterByalgorithmId(scheme.algorithmId)">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑模态框-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ControlSelect3">数据集:</label>
                            <select class="form-control" id="ControlSelect3" v-model="scheme.datasetId">
                                <option v-for="dataset in datasets" :value="dataset.datasetId">{{dataset.datasetName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案名称:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案简介:</label>
                            <textarea class="form-control" v-model="scheme.schemeDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案备注:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeRemark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="updateData()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除模态框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">确定删除{{scheme.schemeName}}吗?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="deleteData(scheme.schemeId)">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--参数设置模态框-->
    <div class="modal fade" id="settingParameterModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">参数设置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row" v-for="(param,index) in scheme.algorithmParameterDemoAdmin">
                            <div class="col-sm-8">
                                <div class="row m-0" v-if="param.parameterType==='input'">
                                    <div class="custom-control custom-control-inline custom-radio">
                                        <input type="checkbox" :id="index" class="custom-control-input"
                                               v-model="param.selected" @click="checkBox(index)">
                                        <label :for="index"
                                               class="custom-control-label">{{param.parameterName}}:</label>
                                        <input class="form-control" v-model="param.parameterValue">
                                    </div>
                                </div>
                                <div class="row m-0" v-else-if="param.parameterType==='boolean'">
                                    <div class="custom-control custom-control-inline custom-radio">
                                        <input type="checkbox" :id="index" class="custom-control-input"
                                               v-model="param.selected" @click="checkBox(index)">
                                        <label :for="index"
                                               class="custom-control-label">{{param.parameterName}}:</label>
                                        <select v-model="param.parameterValue" class="custom-select" style="width: 200px">
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row m-0" v-else>
                                    <div class="custom-control custom-control-inline custom-radio">
                                        <input type="checkbox" :id="index" class="custom-control-input"
                                               v-model="param.selected" @click="checkBox(index)">
                                        <label :for="index"
                                               class="custom-control-label">{{param.parameterName}}:</label>
                                        <input class="form-control" v-model="param.parameterValue">
                                    </div>
                                </div>
                            </div>
                            <div v-if="param.executeStep!=-1">
                                <p>{{param.executeStep==0?"不执行":"第"+param.executeStep+"步"}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="updateData()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#div_id',
        data() {
            return {
                schemes: [],
                scheme: {
                    schemeId: '',
                    schemeName: '',
                    schemeDescription: '',
                    schemeRemark: '',
                    algorithmId: '',
                    algorithmName: '',
                    algorithmParameterDemoAdmin: [],
                    datasetId: '',
                    datasetName: ''
                },
                algorithms: [],
                datasets: [],
                params: '',
                searchString: '',
                count: 0,
            }
        },
        methods: {
            //获得所有方案信息
            getData() {
                axios.get('/SchemeDemoAdmin/findAll')
                    .then(resp => {
                        this.schemes = resp.data;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            //获得指定ID方案信息(编辑)
            getDataById(id) {
                this.clearData();
                const _id = id;
                axios.get('/SchemeDemoAdmin/find/'+id)
                    .then(resp => {
                        this.scheme.schemeId = _id;
                        this.scheme.schemeName = resp.data.schemeName;
                        this.scheme.schemeDescription = resp.data.schemeDescription;
                        this.scheme.schemeRemark = resp.data.schemeRemark;
                        this.scheme.algorithmId = resp.data.algorithmId;
                        this.scheme.algorithmName = resp.data.algorithmName;
                        this.scheme.algorithmParameterDemoAdmin = resp.data.algorithmParameterDemoAdmin;
                        this.scheme.datasetId = resp.data.datasetId;
                        this.scheme.datasetName = resp.data.datasetName;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            //通过算法ID获取算法参数
            getParameterByalgorithmId(id) {
                //表单验证
                if(!this.scheme.algorithmId){
                    alert('请选择算法');
                    return ;
                }
                if(!this.scheme.datasetId){
                    alert('请选择数据集');
                    return ;
                }
                if(!this.scheme.schemeName){
                    alert('请输入方案名称');
                    return ;
                }
                if(!this.scheme.schemeDescription){
                    alert('请输入简介');
                    return ;
                }
                axios.get('/AlgorithmInfoDemoAdmin/findParameter/'+id)
                    .then(resp => {
                        this.scheme.algorithmParameterDemoAdmin = resp.data.algorithmParameterDemoAdmin;
                        this.insertData();
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            //新增方案信息
            insertData() {
                axios.post('/SchemeDemoAdmin/insert',this.scheme)
                    .then(() => {
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //更新方案信息
            updateData() {
                //表单验证
                if(!this.scheme.schemeName){
                    alert('请输入方案名称');
                    return ;
                }
                if(!this.scheme.schemeDescription){
                    alert('请输入简介');
                    return ;
                }
                axios.post('/SchemeDemoAdmin/update',this.scheme)
                    .then(() => {
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //删除方案信息
            deleteData(id) {
                axios.post('/SchemeDemoAdmin/delete/'+id)
                    .then(() => {
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //清空数据
            clearData() {
                this.scheme.schemeId = '';
                this.scheme.schemeName = '';
                this.scheme.schemeDescription = '';
                this.scheme.schemeRemark = '';
                this.scheme.algorithmId = '';
                this.scheme.algorithmName = '';
                this.scheme.algorithmParameterDemoAdmin = [];
                this.scheme.datasetId = '';
                this.scheme.datasetName = '';
            },
            //获得所有算法和方案提供方案选择
            getIdAndName() {
                axios.get('/AlgorithmInfoDemoAdmin/findAllIdAndName')
                    .then(resp => {
                        this.algorithms = resp.data
                    })
                    .catch(err => {
                        console.log(err);
                    });
                axios.get('/SchemeDemoAdmin/findAllIdAndName')
                    .then(resp => {
                        this.datasets = resp.data
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            //执行步骤(按点击顺序)
            checkBox(n){
                for(var m=0;m<this.scheme.algorithmParameterDemoAdmin.length;m++){
                    if(this.scheme.algorithmParameterDemoAdmin[m].executeStep>this.count){
                        this.count = this.scheme.algorithmParameterDemoAdmin[m].executeStep
                    }
                }
                if(event.target.checked){
                    this.count++;
                    this.scheme.algorithmParameterDemoAdmin[n].executeStep=this.count;
                }else {
                    this.count--;
                    for(let i=0;i<this.scheme.algorithmParameterDemoAdmin.length;i++){
                        if(this.scheme.algorithmParameterDemoAdmin[i].executeStep>this.scheme.algorithmParameterDemoAdmin[n].executeStep){
                            this.scheme.algorithmParameterDemoAdmin[i].executeStep--;
                        }
                    }
                    this.scheme.algorithmParameterDemoAdmin[n].executeStep=0;
                }
            }
        },
        //页面生成前获取所有信息
        created () {
            this.getData();
            this.getIdAndName();
        },
        computed: {
            //搜索功能
            filterInfo: function() {
                var dataset_array = this.schemes,
                    searchString = this.searchString;

                if(!searchString){
                    return dataset_array;
                }

                searchString = searchString.trim().toLowerCase();

                dataset_array = dataset_array.filter(function (item) {
                    if(item.schemeName.toLowerCase().indexOf(searchString) !== -1){
                        return item;
                    }
                });

                return dataset_array;
            },
        }
    });
</script>
</body>
</html>