<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>I'm title</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <!-- jquery -->
    <!-- 	Web jars -->
    <!-- 		jquery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!-- 		Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!-- 		Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- 		Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--		axios-->
    <script src="../js/axios.js"></script>
    <!--    fontawesome-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="div_id">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/DemoAdmin/index">AlgGroupDemoAdmin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <!--首页-->
                <li class="nav-item">
                    <a class="nav-link" href="/DemoAdmin/index">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <!--方案管理-->
                <li class="nav-item active">
                    <a class="nav-link" href="/DemoAdmin/SchemeAdmin">
                        <i class="fa fa-server"></i>
                        Scheme
                    </a>
                </li>
                <!--关于我们页面管理-->
                <li class="nav-item">
                    <a class="nav-link" href="/DemoAdmin/AboutusAdmin">
                        <i class="fa fa-address-card"></i>
                        Aboutus
                    </a>
                </li>
                <li>
                    <form action="/DemoAdmin/logout">
                        <button type="submit" class="btn btn-light">
                            <i class="fa fa-times-circle"></i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal"
                @click="clearData()">添加方案
        </button>
    </nav>
    <input v-model="searchString" style="width: 200px;padding: 6px 12px;" type="search" class="form-control m-auto"
           id="search-input" placeholder="Search...">
    <div class="accordion m-5" id="accordionExample">
        <div class="card" v-for="(scheme,index) in filterInfo">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                            :data-target="'#scheme'+scheme.schemeName+index" aria-expanded="true"
                            aria-controls="collapseOne">
                        方案名称:{{scheme.schemeName}}
                    </button>
                </h2>
            </div>
            <div :id="'scheme'+scheme.schemeName+index" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="card-body" style="text-align:center">
                    <h6 class="card-subtitle mb-2 text-muted ">算法名称:{{scheme.algorithmName}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">数据集:{{scheme.datasetName}}</h6>
                    <hr>
                    <p class="card-text">方案简介:{{scheme.schemeDescription}}</p>
                    <hr>
                    <h5><b>基本参数详情</b></h5>
                    <span class="card-text" v-for="parameter in scheme.algorithmParameterDemoAdmin">
                        <p v-if="parameter.parameterInputValue===null" style="color: red">参数被清空请添加参数</p>
                        <p v-else-if="parameter.parameterOptionValue!=='null'">{{parameter.parameterName}}:{{parameter.parameterInputValue}},{{parameter.parameterOptionValue}}</p>
                        <p v-else>{{parameter.parameterName}}:{{parameter.parameterInputValue}}</p>
                        </span>
                    <hr>
                    <h5><b>参数步骤详情</b></h5>
                    <div v-for="procedure in temp">
                        <p v-if="scheme.schemeId===procedure.schemeId&&procedure.selected==='true'">
                            <i class="fa fa-check-square-o"></i>{{procedure.procedureName}}:{{procedure.data}}</p>
                        <p v-if="scheme.schemeId===procedure.schemeId&&procedure.selected==='false'">
                            {{procedure.procedureName}}:{{procedure.data}}</p>
                    </div>
                    <hr>
                    <p class="card-text" v-if="scheme.schemeRemark"><small
                            class="text-muted">备注:{{scheme.schemeRemark}}</small></p>
                    <div style="text-align:center">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal"
                                @click="getDataById(scheme.schemeId)">编辑
                        </button>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#settingParameterModal" @click="getDataById(scheme.schemeId)">参数设置
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                @click="getDataById(scheme.schemeId)">删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新增模态框-->
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ControlSelect1">选择算法:</label>
                            <select class="form-control" id="ControlSelect1" v-model="scheme.algorithmId">
                                <option v-for="algorithm in algorithms" :value="algorithm.algorithmId">
                                    {{algorithm.algorithmName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ControlSelect2">选择数据集:</label>
                            <select class="form-control" id="ControlSelect2" v-model="scheme.datasetId">
                                <option v-for="dataset in datasets" :value="dataset.datasetId">{{dataset.datasetName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案名称:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案简介:</label>
                            <textarea class="form-control" v-model="scheme.schemeDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案备注:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeRemark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"
                            @click="getParameterByAlgorithmId(scheme.algorithmId)">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑模态框-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ControlSelect3">数据集:</label>
                            <select class="form-control" id="ControlSelect3" v-model="scheme.datasetId">
                                <option v-for="dataset in datasets" :value="dataset.datasetId">{{dataset.datasetName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案名称:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案简介:</label>
                            <textarea class="form-control" v-model="scheme.schemeDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">方案备注:</label>
                            <input type="text" class="form-control" v-model="scheme.schemeRemark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="updateData()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除模态框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除方案</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">确定删除{{scheme.schemeName}}吗?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="deleteData(scheme.schemeId)">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--参数设置模态框-->
    <div class="modal fade" id="settingParameterModal" tabindex="-1" role="dialog" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">参数设置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="alert alert-success m-1 container-fluid" style="text-align: center"
                                     role="alert">
                                    基本参数设置
                                </div>
                                <div class="row m-0 input-group" v-for="param in scheme.algorithmParameterDemoAdmin"
                                     v-if="param.parameterId!=null">
                                    <div class="input-group-prepend" style="width: 30%">
                                        <span class="input-group-text container-fluid">{{param.parameterName}}</span>
                                    </div>
                                    <input type="text" class="form-control" v-model="param.parameterInputValue"
                                           data-toggle="tooltip" data-placement="bottom" title="data值">
                                    <input type="text" class="form-control" v-model="param.parameterOptionValue"
                                           data-toggle="tooltip" data-placement="bottom" title="option值,默认不需要处理">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <div class="alert alert-warning text-center" role="alert">
                                    参数步骤设置
                                </div>
                                <div class="row m-0" v-for="(ps,index2) in ProcedureSettingsList[scheme.algorithmId]">
                                    <div class="col-3 p-2">
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input @click="check(index2)" type="checkbox" class="custom-control-input"
                                                   :id="scheme.algorithmName+ps.name+'Procedure'"
                                                   :name="scheme.algorithmName+ps.name+'Check'+(index2+1)"
                                                   :checked="ps.state=='optional'?null:'checked'"
                                                   :disabled="ps.state=='required'?'disabled':null"
                                                   @change="changeDisabled($event,scheme.algorithmName+ps.name)">
                                            <label class="custom-control-label"
                                                   :for="scheme.algorithmName+ps.name+'Procedure'">{{ps.name}}</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 col-9">
                                        <select class="custom-select" :id="scheme.algorithmName+ps.name+'select'"
                                                :name="scheme.algorithmName+ps.name"
                                                :disabled="ps.state=='optional'?'disabled':null"
                                                @change="changeProduct($event,index2)">
                                            <option v-for="(option,index3) in ps.options"
                                                    :selected="option==ps.defaultOption?'selected':null"
                                                    :value="option">{{option}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="updateData()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#div_id',
        data() {
            return {
                schemes: [],
                procedures: [],
                p: [],
                temp: [],
                scheme: {
                    schemeId: '',
                    schemeName: '',
                    schemeDescription: '',
                    schemeRemark: '',
                    algorithmId: '',
                    algorithmName: '',
                    algorithmParameterDemoAdmin: [],
                    datasetId: '',
                    datasetName: ''
                },
                procedure: {
                    schemeProcedureId: '',
                    schemeId: '',
                    procedureName: '',
                    procedureSettingData: '',
                    procedureSettingsId: '',
                },
                tempSetting: '',
                algorithms: [],
                datasets: [],
                params: '',
                searchString: '',
                ProcedureSettingsList: {},
            }
        },
        methods: {
            //获得所有方案信息
            getData() {
                axios.get('/SchemeDemoAdmin/findAll')
                    .then(resp => {
                        this.schemes = resp.data;
                        axios.get('/schemeProcedureDemoAdmin/findAll')
                            .then(resp => {
                                this.procedures = resp.data;
                                this.temp = this.procedures;
                                for (let i = 0; i < this.temp.length; i++) {
                                    this.$set(this.temp[i], 'data', JSON.parse(this.temp[i].procedureSettingData).data);
                                    this.$set(this.temp[i], 'selected', JSON.parse(this.temp[i].procedureSettingData).selected);
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            });
                        axios.get('/getProcedureSettingsList').then((response) => {
                            this.ProcedureSettingsList = response.data;
                        })
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            //获得指定ID方案信息(编辑)
            getDataById(id) {
                this.clearData();
                const _id = id;
                axios.get('/SchemeDemoAdmin/find/' + id)
                    .then(resp => {
                        this.scheme.schemeId = _id;
                        this.scheme.schemeName = resp.data.schemeName;
                        this.scheme.schemeDescription = resp.data.schemeDescription;
                        this.scheme.schemeRemark = resp.data.schemeRemark;
                        this.scheme.algorithmId = resp.data.algorithmId;
                        this.scheme.algorithmName = resp.data.algorithmName;
                        this.scheme.algorithmParameterDemoAdmin = resp.data.algorithmParameterDemoAdmin;
                        this.scheme.datasetId = resp.data.datasetId;
                        this.scheme.datasetName = resp.data.datasetName;
                        axios.get('/schemeProcedureDemoAdmin/find/' + _id)
                            .then(resp => {
                                if (resp.data.length !== 0) {
                                    $.extend(true, this.p, resp.data);//深拷贝
                                    this.procedures = resp.data;
                                    this.tempSetting = resp.data;
                                    let temp1 = resp.data;
                                    for (let i = 0; i < this.procedures.length; i++) {
                                        temp1[i] = this.tempSetting[i].procedureSettingData;
                                        this.tempSetting[i] = JSON.parse(temp1[i]);
                                    }
                                    let temp = this.ProcedureSettingsList[this.scheme.algorithmId];
                                    for (let i = 0; i < temp.length; i++) {
                                        this.tempSetting[i].data = temp[i].defaultOption;
                                        this.p[i].procedureSettingsId = temp[i].id;
                                        if (temp[i].state === 'optional') {
                                            this.tempSetting[i].selected = 'false';
                                        } else {
                                            this.tempSetting[i].selected = 'true';
                                        }
                                    }
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            });
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            //通过算法ID获取算法参数
            getParameterByAlgorithmId(id) {
                //表单验证
                if (!this.scheme.algorithmId) {
                    alert('请选择算法');
                    return;
                }
                if (!this.scheme.datasetId) {
                    alert('请选择数据集');
                    return;
                }
                if (!this.scheme.schemeName) {
                    alert('请输入方案名称');
                    return;
                }
                if (!this.scheme.schemeDescription) {
                    alert('请输入简介');
                    return;
                }
                axios.get('/AlgorithmInfoDemoAdmin/findParameter/' + id)
                    .then(resp => {
                        this.scheme.algorithmParameterDemoAdmin = resp.data.algorithmParameterDemoAdmin;
                        this.insertData();
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            //新增方案信息
            insertData() {
                if (this.scheme.algorithmParameterDemoAdmin === undefined) {
                    alert("请确认该算法是否设定参数");
                    return;
                }
                axios.post('/SchemeDemoAdmin/insert', this.scheme)
                    .then(() => {
                        axios.post('/schemeProcedureDemoAdmin/insert');
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //更新方案信息
            updateData() {
                //表单验证
                if (!this.scheme.schemeName) {
                    alert('请输入方案名称');
                    return;
                }
                if (!this.scheme.schemeDescription) {
                    alert('请输入简介');
                    return;
                }
                axios.post('/SchemeDemoAdmin/update', this.scheme)
                    .then(() => {
                        if (this.tempSetting.length) {
                            for (let i = 0; i < this.tempSetting.length; i++) {
                                this.p[i].procedureSettingData = '{"data":"' + this.tempSetting[i].data + '","selected":"' + this.tempSetting[i].selected + '"}';
                            }
                            axios.post('/schemeProcedureDemoAdmin/update', this.p)
                                .then(() => {

                                })
                                .catch(err => {
                                    console.log(err);
                                });
                        }
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //删除方案信息
            deleteData(id) {
                axios.post('/SchemeDemoAdmin/delete/' + id)
                    .then(() => {
                        axios.post('/schemeProcedureDemoAdmin/delete/' + id);
                        window.location.reload();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            //清空数据
            clearData() {
                this.scheme.schemeId = '';
                this.scheme.schemeName = '';
                this.scheme.schemeDescription = '';
                this.scheme.schemeRemark = '';
                this.scheme.algorithmId = '';
                this.scheme.algorithmName = '';
                this.scheme.algorithmParameterDemoAdmin = [];
                this.scheme.datasetId = '';
                this.scheme.datasetName = '';
                this.procedure.schemeId = '';
                this.procedure.procedureName = '';
                this.procedure.schemeProcedureId = '';
                this.procedure.procedureSettingData = '';
                this.procedures = '';
            },
            //获得所有算法和方案提供方案选择
            getIdAndName() {
                axios.get('/AlgorithmInfoDemoAdmin/findAllIdAndName')
                    .then(resp => {
                        this.algorithms = resp.data
                    })
                    .catch(err => {
                        console.log(err);
                    });
                axios.get('/SchemeDemoAdmin/findAllIdAndName')
                    .then(resp => {
                        this.datasets = resp.data
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            check(i) {
                if (event.target.checked) {
                    this.tempSetting[i].selected = 'true';
                } else {
                    this.tempSetting[i].selected = 'false';
                }
            },
            changeProduct(event, index) {
                this.tempSetting[index].data = event.target.value; //获取option对应的value值
            },
            changeDisabled: function (event,name) {
                if ($(event.srcElement).prop("checked")) {
                    $("select[name="+name+"]").removeAttr("disabled");
                }else {
                    $("select[name="+name+"]").attr("disabled","disabled");
                }
            },
        },
        //页面生成前获取所有信息
        created() {
            this.getData();
            this.getIdAndName();
        },
        computed: {
            //搜索功能
            filterInfo: function () {
                var dataset_array = this.schemes,
                    searchString = this.searchString;

                if (!searchString) {
                    return dataset_array;
                }

                searchString = searchString.trim().toLowerCase();

                dataset_array = dataset_array.filter(function (item) {
                    if (item.schemeName.toLowerCase().indexOf(searchString) !== -1) {
                        return item;
                    }
                });

                return dataset_array;
            },
        }
    });
</script>
</body>
</html>