<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="featureSelection.research.web.mybatisMapper.demo.visitor.AlgorithmMapper">


    <resultMap id="algorithmInfo" type="featureSelection.research.web.entity.demo.visitor.Algorithm">
        <id column="algorithm_id" property="algorithmId"></id>
        <result column="algorithm_name" property="algorithmName"></result>
        <result column="algorithm_paper_reference" property="algorithmPaperReference"></result>
        <result column="algorithm_paper_link" property="algorithmPaperLink"></result>
        <result column="algorithm_call_interface" property="algorithmCallInterface"></result>
    </resultMap>


    <resultMap id="algorithmWithParameter" type="featureSelection.research.web.entity.demo.visitor.Algorithm">
        <id column="algorithm_id" property="algorithmId"></id>
        <result column="algorithm_name" property="algorithmName"></result>
        <result column="algorithm_paper_reference" property="algorithmPaperReference"></result>
        <result column="algorithm_paper_link" property="algorithmPaperLink"></result>
        <result column="algorithm_call_interface" property="algorithmCallInterface"></result>
        <collection property="parameters" javaType="List" ofType="featureSelection.research.web.entity.demo.visitor.Parameter">
            <id column="id" property="id"/>
            <result column="" property=""></result>
        </collection>
    </resultMap>

    <!-- 算法信息 方案信息 参数信息 数据集信息 参数值信息-->
    <resultMap id="algorithWithParameterAndSchemeAndDatasetAndParameterValue"
               type="featureSelection.research.web.entity.demo.visitor.Algorithm">
        <id column="algorithm_id" property="algorithmId"></id>
        <result column="algorithm_name" property="algorithmName"></result>
        <result column="algorithm_paper_reference" property="algorithmPaperReference"></result>
        <result column="algorithm_paper_link" property="algorithmPaperLink"></result>
        <result column="algorithm_call_interface" property="algorithmCallInterface"></result>
        <collection property="parameters" javaType="List"
                    ofType="featureSelection.research.web.entity.demo.visitor.Parameter">
            <id column="parameter_id" property="parameterId"></id>
            <result column="parameter_name" property="parameterName"></result>
        </collection>
        <collection property="parameterSchemes" javaType="List"
                    ofType="featureSelection.research.web.entity.demo.visitor.ParameterScheme">
            <id column="scheme_id" property="schemeId"/>
            <result column="scheme_name" property="schemeName"></result>
            <association property="dataset" javaType="featureSelection.research.web.entity.demo.visitor.Dataset">
                <id column="dataset_id" property="datasetId"></id>
                <result column="dataset_name" property="datasetName"></result>
                <result column="dataset_description" property="datasetDescription"></result>
                <result column="dataset_dimension" property="datasetDimension"></result>
                <result column="dataset_source" property="datasetSource"></result>
                <result column="dataset_file" property="datasetFile"></result>
            </association>
            <collection property="parameterSchemeValues" javaType="List"
                        ofType="featureSelection.research.web.entity.demo.visitor.ParameterSchemeValue">
                <result column="parameter_value" property="parameterValue"></result>
                <association property="parameter" javaType="featureSelection.research.web.entity.demo.visitor.Parameter">
                    <id column="parameter_id" property="parameterId"></id>
                    <result column="parameter_name" property="parameterName"></result>
                </association>
            </collection>
        </collection>
    </resultMap>


    <select id="getAllAlgorithmParameterList" resultMap="algorithmWithParameter">
        select algorithm.*,parameter.* from algorithm,parameter where algorithm.algorithm_id=parameter.parameter_id
    </select>

    <select id="getAllAlgorithmInfo" resultMap="algorithWithParameterAndSchemeAndDatasetAndParameterValue">
            select a.*,ps.*,psv.parameter_value,p.*,d.*
            FROM `algorithm` a
            LEFT JOIN parameter_scheme ps ON a.algorithm_id=ps.algorithm_id
            LEFT JOIN parameter_scheme_value psv ON ps.scheme_id=psv.scheme_id
            LEFT JOIN parameter p ON psv.parameter_id=p.parameter_id
            LEFT JOIN dataset d ON ps.dataset_id=d.dataset_id
    </select>

    <select id="getAlgorithmInfoById" resultType="String" resultMap="algorithmInfo">
        SELECT algorithm.* FROM algorithm where algorithm_id=#{algorithmid}
    </select>
</mapper>