<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="featureSelection.research.web.mybatisMapper.demo.visitor.ApplyAccountMapper">


    <insert id="insertApplyAccount" parameterType="featureSelection.research.web.entity.demo.visitor.ApplyAccount">
        insert into apply_account(apply_email,apply_reason,apply_password)
        value (#{applyEmail},#{applyReason},#{applyPassword})
    </insert>
</mapper>