<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="featureSelection.research.web.mybatisMapper.demo.visitor.DatasetMapper">

    <resultMap id="datasetinfo" type="featureSelection.research.web.entity.demo.visitor.Dataset">
        <id column="dataset_id" property="datasetId"></id>
        <result column="dataset_file" property="datasetFile"></result>
        <result column="dataset_name" property="datasetName"></result>
        <result column="dataset_description" property="datasetDescription"></result>
        <result column="dataset_size" property="datasetSize"></result>
        <result column="dataset_source" property="datasetSource"></result>
        <result column="dataset_dimension" property="datasetDimension"></result>
    </resultMap>
    <select id="getDatasetInfo" resultMap="datasetinfo" parameterType="Integer">
        SELECT dataset.* from dataset WHERE dataset_id=#{datasetid}
    </select>
</mapper>