.resulttext{
    font-family: 微软雅黑;
    font-size: 16px;

}

#parameterintroduce p{
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: normal;
}

.leftkey{
    font-weight: bold;
}

.card-header{
    padding:.15rem 1.25rem;
}

.modal-header{
    padding: 0.5rem 1rem;
}

/*=========updateInfo===========*/
.sk-landing-bg-more-info{
    background-color:#f8f8f8;
    font-size: 0.96rem;
}