<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Execution</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!---->
    <link rel="stylesheet" href="/webjars/bootstrap-switch/3.3.4/dist/css/bootstrap3/bootstrap-switch.css">
    <!--customCss-->
    <link rel="stylesheet" href="/css/execution.css">
    <!-- jquery -->
    <!-- 	Web jars -->
    <!-- 		jquery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!-- 		Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!-- 		Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- 		Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--bootstrap-switch-->
    <script src="/webjars/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <!--axios-->
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
</head>
<body>
<div id="accountData">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/pages/execution/admin/execution.html">AlgGroup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">demo<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/visitor/execution.html">execution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/demo/visitor/aboutus.html">About us</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-secondary btn-sm">{{administratorName}}</button>        &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="my-checkbox" checked>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/execution.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/administrator.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                管理员账户管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/account.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                Vip用户管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/datasetManage.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                    <polyline points="2 17 12 22 22 17"></polyline>
                                    <polyline points="2 12 12 17 22 12"></polyline>
                                </svg>
                                数据集管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/htmlElementList.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                页面元素管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/taskInfo.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                任务单管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/algorithm.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                算法管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/demo/admin/index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                更新信息管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/demo/admin/AboutusDemoAdmin.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                关于我们页面管理
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <!--账户管理部分 -->
                <div class="row">
                    <label>
                        <h1>Account Manage</h1>
                        <p>update Account Message</p>
                        <hr>
                    </label>
                </div>
                <div class="row">
                <div class="col-md-2">
                    <h2><button class="btn btn-large btn-primary" data-toggle="modal" data-target="#addAccount">添加用户</button></h2>
                </div>
                <div class="col-md-7 offset-md-3">
                    <label class="bootstrap-switch-label">SearchByEmail:</label>
                    <input v-model="accountEmail" PLACEHOLDER="accountEmail" >
                    &nbsp;&nbsp
                    <svg data-toggle="modal" data-target="#adultAccount" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <label data-toggle="modal" data-target="#adultAccount" class="btn btn-link text-warning">未审核用户个数：</label>
                    <lable class="rounded-circle p-2 mb-1 bg-danger text-white">{{waitingAuditAccountNumber}}</lable>
                </div>
                </div>
                <!-- 定义添加会员用户模态框 -->
                <div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--                                        {{values.modal_addAccount_title}}-->
                                <h5 class="modal-title" id="addAccountModalTitle">新增会员信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form >
                                    <!--                                            {{values.modal_addAccount_form_li1}}-->
                                    <div class="form-group">
                                        <label for="addAccountEmail" class="col-form-label">用户邮箱:</label>
                                        <input type="email"  class="form-control" id="addAccountEmail" v-model="accountInfo.accountEmail"  >
                                    </div>
                                    <!--                                            {{values.modal_addAccount_form_li3}}-->
                                    <div class="form-group">
                                        <label for="addAccountName" class="col-form-label">用户姓名:</label>
                                        <input type="text"  class="form-control" id="addAccountName"  v-model="accountInfo.accountName">
                                    </div>
                                    <!--                                            {{values.modal_addAdministrator_form_li4}}-->
                                    <div class="form-group">
                                        <label for="addAccountPassword" class="col-form-label">用户密码:</label>
                                        <input type="password"  class="form-control" id="addAccountPassword" v-model="accountInfo.accountPassword">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="addAccount()">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
<!--                            <th>用户ID</th>-->
<!--                            <th>用户名称</th>-->
                            <th>用户邮箱</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--遍历循环渲染用户列表信息 -->
                        <tr v-for="account in filterAccount">
<!--                            <td>{{account.accountId}}</td>-->
<!--                            <td>{{account.accountName}}</td>-->
                            <td>{{account.accountEmail}}</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#updateAccount"+account.accountId' @click="setUpdateAccountInfo(account)">修改用户信息</button>
<!--                                <button class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#updateAccountPower"+account.accountPower'>修改用户权限</button>-->
                                <button class="btn btn-md btn-danger" data-toggle="modal" v-bind:data-target='"#deleteAccount"+account.accountId' >删除用户</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-for="account in accounts">
                        <!-- 定义修改用户信息模态框 -->
                        <div class="modal fade" v-bind:id='"updateAccount"+account.accountId' tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!--                                        {{values.modal_updateAccount_title}}-->
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">修改会员用户信息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form >
                                            <!--                                            {{values.modal_updateAdministrator_form_li2}}-->
                                            <div class="form-group">
                                                <label for="updateAccountName" class="col-form-label">用户姓名:</label>
                                                <input type="text"  class="form-control" id="updateAccountName" v-bind:placeholder="account.accountName" v-model="accountInfo.accountName">
                                            </div>
                                            <!--                                            {{values.modal_updateAdministrator_form_li3}}-->
                                            <div class="form-group">
                                                <label for="updateAccountEmail" class="col-form-label">用户邮箱:</label>
                                                <input type="email"  class="form-control" id="updateAccountEmail" v-bind:placeholder="account.accountEmail" v-model="accountInfo.accountEmail">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" @click="updateAccount(account.accountId)">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--定义修改用户权限模态框 -->
                        <div class="modal fade" v-bind:id='"updateAccountPower"+account.accountId' tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!--                                        {{values.modal_updateAccountPower_title}}-->
                                        <h5 class="modal-title" id="updateAccountPowerModal">修改会员用户权限</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form >
                                            <!--                                            {{values.modal_updateAccountPower_form_li1}}-->
                                            <div class="form-group">
                                                <label for="updatePowerAccountId" class="col-form-label">用户id:</label>
                                                <input type="text"  class="form-control" id="updatePowerAccountId" v-bind:placeholder="account.accountId"  disabled>
                                            </div>
                                            <!--                                            {{values.modal_updateAccountPower_form_li2}}-->
                                            <div class="form-group">
                                                <label for="accountName" class="col-form-label">执行算法权限1:</label>
                                                <input type="radio"  class="form-control" id="accountName" v-bind:placeholder="account.accountName" v-model="accountInfo.accountName">
                                            </div>
                                            <!--                                            {{values.modal_updateAccountPower_form_li3}}-->
                                            <div class="form-group">
                                                <label for="accountEmail" class="col-form-label">执行算法权限2:</label>
                                                <input type="email"  class="form-control" id="accountEmail" v-bind:placeholder="account.accountEmail" v-model="accountInfo.accountEmail">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" @click="updateAccount(account.accountId)">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--定义删除会员用户模态框 -->
                        <div class="modal fade" v-bind:id='"deleteAccount"+account.accountId' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- values.modal -->
                                        <h5 class="modal-title" id="exampleModalLabel">删除会员用户信息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        确定删除用户信息吗？删除后信息不可恢复！
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-danger" @click="deleteAccount(account.accountId)">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <form  action="/updateAccountPower" method="post" class="form-horizontal" role="form" id="updateAccountPowers" onsubmit="return">-->
<!--                            <div class="modal fade" v-bind:id='"updateAccountPower"+account.accountPower'  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--                                  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见-->
<!--                                <div class="modal-dialog">-->
<!--                                    &lt;!&ndash;  显示模态框对话框模型（若不写下一个div则没有颜色）  &ndash;&gt;-->
<!--                                    <div class="modal-content">-->
<!--                                        &lt;!&ndash;  显示模态框白色背景，所有内容都写在这个div里面  &ndash;&gt;-->

<!--                                        <div class="btn-info modal-header">-->
<!--                                            &lt;!&ndash;  模态框标题  &ndash;&gt;-->
<!--                                            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                                            &lt;!&ndash;  关闭按钮  &ndash;&gt;-->
<!--                                            <h4>点击修改页面元素信息</h4>-->
<!--                                            &lt;!&ndash;  标题内容  &ndash;&gt;-->
<!--                                        </div>-->

<!--                                        <div class="modal-body">-->
<!--                                            &lt;!&ndash;  模态框内容，我在此处添加一个表单 &ndash;&gt;-->
<!--                                            <form class="form-horizontal" role="form" >-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                        <input type="hidden" class="form-control" name="accountPower" v-bind:value="account.accountPower">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                        <input type="hidden" class="form-control" name="accountId" v-bind:value="account.accountId">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                        <label>权限Id</label>-->
<!--                                                        <input type="text" class="form-control"   v-bind:placeholder="account.accountPower" disabled>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="row">-->
<!--                                                <div class="col-md-5 offset-md-1">-->
<!--                                                    <label>执行算法1的权力:</label>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-3">-->
<!--                                                    是<input class="form-check-input" type="radio" name="executionAlgorithm1" v-bind:id="account.accountPower" value="true" >-->
<!--                                                    <label class="form-check-label" v-bind:for="account.accountPower"></label>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-3">-->
<!--                                                    否<input class="form-check-input" type="radio" name="executionAlgorithm1" v-bind:id="account.accountPower" value="false" >-->
<!--                                                    <label class="form-check-label" v-bind:for="account.accountPower"></label>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-md-5 offset-md-1">-->
<!--                                                        <label>执行算法2的权力:</label>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-3">-->
<!--                                                        是<input class="form-check-input" type="radio" name="executionAlgorithm2" v-bind:id="account.accountPower" value="true" >-->
<!--                                                        <label class="form-check-label" v-bind:for="account.accountPower"></label>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-3">-->
<!--                                                        否<input class="form-check-input" type="radio" name="executionAlgorithm2" v-bind:id="account.accountPower" value="false" >-->
<!--                                                        <label class="form-check-label" v-bind:for="account.accountPower"></label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            &lt;!&ndash;  模态框底部样式，一般是提交或者确定按钮 &ndash;&gt;-->
<!--                                            <button type="submit" class="btn btn-info">确定</button>-->
<!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
<!--                                        </div>-->

<!--                                    </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; /.modal &ndash;&gt;-->
<!--                        </form>-->
                    </div>
                </div>
<!--                <hr>-->
<!--                &lt;!&ndash;审核账户申请 &ndash;&gt;-->
<!--                <div class="row">-->
<!--                    <label>-->
<!--                        <h1>Account Adult</h1>-->
<!--                        <p>Adult account's apply then create a vip account for applicant</p>-->
<!--                        <hr>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 offset-md-5">-->
<!--                        <label class="bootstrap-switch-label">SearchByEmail:</label>-->
<!--                        <input v-model="accountEmail" PLACEHOLDER="accountEmail" >-->
<!--                        &nbsp;&nbsp-->
<!--                        <svg data-toggle="modal" data-target="#adultAccount" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>-->
<!--                        </svg>-->
<!--                        <label data-toggle="modal" data-target="#adultAccount" class="btn btn-link text-warning">未审核用户个数：</label>-->
<!--                        <lable class="rounded-circle p-2 mb-1 bg-danger text-white">450</lable>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 审核部分&ndash;&gt;-->
<!--                <div class="container">-->
<!--                    <div class="col-md-8 offset-md-2">-->
<!--                        <div class="row">-->
<!--                            <div class="col-4">-->
<!--                                <div class="list-group" id="list-tab" role="tablist">-->
<!--                                    <a class="list-group-item list-group-item-action active"  data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>-->
<!--                                    <a v-for="applyAccount in applyAccounts" class="list-group-item list-group-item-action" v-bind:id="applyAccount.applyId" data-toggle="list" v-bind:href='"#locat"+applyAccount.applyId' role="tab" v-bind:aria-controls='"a"+applyAccount.applyId'>{{applyAccount.applyId}}</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-8">-->
<!--                                <div class="tab-content" id="nav-tabContent">-->
<!--                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" >这里可以查看用户申请注册账户的信息,用户申请的信息在左边列表可以进行选择，你可以选择同意用户或者拒绝用户的注册，并且自动发送邮件通知用户注册结果。</div>-->
<!--                                    <div v-for="applyAccount in applyAccounts" class="tab-pane fade" v-bind:id='"locat"+applyAccount.applyId' role="tabpanel" v-bind:aria-labelledby='"a"+applyAccount.applyId'>-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="row">-->
<!--                                                <dt class="col-md-5">用户邮箱:</dt>-->
<!--                                                <dd class="col-md-7">{{applyAccount.applyEmail}}</dd>-->
<!--                                                <dt class="col-md-5">用户申请理由:</dt>-->
<!--                                                <dd class="col-md-7">{{applyAccount.applyReason}}</dd>-->
<!--                                            </div>-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-md-2">-->
<!--                                                    <button class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#adult"+applyAccount.applyId'>同意</button>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-4 offset-md-1">-->
<!--                                                    <button class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#unAdult"+applyAccount.applyId'>拒绝</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <form  action="/passApplyAccount" method="post" class="form-horizontal" role="form" id="passAdult" onsubmit="return">-->
<!--                                            <div class="modal fade" v-bind:id='"adult"+applyAccount.applyId'    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--                                                &lt;!&ndash;  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  &ndash;&gt;-->
<!--                                                <div class="modal-dialog">-->
<!--                                                    &lt;!&ndash;  显示模态框对话框模型（若不写下一个div则没有颜色）  &ndash;&gt;-->
<!--                                                    <div class="modal-content">-->
<!--                                                        &lt;!&ndash;  显示模态框白色背景，所有内容都写在这个div里面  &ndash;&gt;-->

<!--                                                        <div class="btn-info modal-header">-->
<!--                                                            &lt;!&ndash;  模态框标题  &ndash;&gt;-->
<!--                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                                                            &lt;!&ndash;  关闭按钮  &ndash;&gt;-->
<!--                                                            <h4>点击修改页面元素信息</h4>-->
<!--                                                            &lt;!&ndash;  标题内容  &ndash;&gt;-->
<!--                                                        </div>-->

<!--                                                        <div class="modal-body">-->
<!--                                                            &lt;!&ndash;  模态框内容，我在此处添加一个表单 &ndash;&gt;-->
<!--                                                            <form class="form-horizontal" role="form" >-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <input type="hidden" class="form-control" name="applyId" v-bind:value="applyAccount.applyId">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <label>审批人：</label>-->
<!--                                                                        <input type="text" class="form-control" name="administratorId"   placeholder="administratorId">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <label>审批意见：</label>-->
<!--                                                                        <input type="text" class="form-control" name="administratorReason"   placeholder="administratorReason">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </form>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-footer">-->
<!--                                                            &lt;!&ndash;  模态框底部样式，一般是提交或者确定按钮 &ndash;&gt;-->
<!--                                                            <button type="submit" class="btn btn-info">确定</button>-->
<!--                                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
<!--                                                        </div>-->

<!--                                                    </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; /.modal &ndash;&gt;-->
<!--                                        </form>-->
<!--                                        <form  action="/unPassApplyAccount" method="post" class="form-horizontal" role="form" id="unPassAdult" onsubmit="return">-->
<!--                                            <div class="modal fade" v-bind:id='"unAdult"+applyAccount.applyId'    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--                                                &lt;!&ndash;  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  &ndash;&gt;-->
<!--                                                <div class="modal-dialog">-->
<!--                                                    &lt;!&ndash;  显示模态框对话框模型（若不写下一个div则没有颜色）  &ndash;&gt;-->
<!--                                                    <div class="modal-content">-->
<!--                                                        &lt;!&ndash;  显示模态框白色背景，所有内容都写在这个div里面  &ndash;&gt;-->

<!--                                                        <div class="btn-info modal-header">-->
<!--                                                            &lt;!&ndash;  模态框标题  &ndash;&gt;-->
<!--                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                                                            &lt;!&ndash;  关闭按钮  &ndash;&gt;-->
<!--                                                            <h4>点击修改页面元素信息</h4>-->
<!--                                                            &lt;!&ndash;  标题内容  &ndash;&gt;-->
<!--                                                        </div>-->

<!--                                                        <div class="modal-body">-->
<!--                                                            &lt;!&ndash;  模态框内容，我在此处添加一个表单 &ndash;&gt;-->
<!--                                                            <form class="form-horizontal" role="form" >-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <input type="hidden" class="form-control" name="applyId" v-value="applyAccount.applyId">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <label>审批人：</label>-->
<!--                                                                        <input type="text" class="form-control" name="administratorId"   placeholder="administratorId">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-md-10 offset-md-1">-->
<!--                                                                        <label>审批意见：</label>-->
<!--                                                                        <input type="text" class="form-control" name="administratorReason"   placeholder="administratorReason">-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </form>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-footer">-->
<!--                                                            &lt;!&ndash;  模态框底部样式，一般是提交或者确定按钮 &ndash;&gt;-->
<!--                                                            <button type="submit" class="btn btn-info">确定</button>-->
<!--                                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
<!--                                                        </div>-->

<!--                                                    </div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--                                                </div>-->
<!--                                            </div> &lt;!&ndash; /.modal &ndash;&gt;-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div>
                </div>
                <!--审核用户信息模态框 -->
                <div class="modal fade" id="adultAccount" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">用户申请审核</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                          <tr>
                                              <th>用户申请邮箱</th>
                                              <th>申请理由</th>
                                              <th>审核理由</th>
                                              <th>操作</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="applyAccount in applyAccounts">
                                            <td>{{applyAccount.applyEmail}}</td>
                                            <td style="width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;display:block;" v-bind:title="applyAccount.applyReason">{{applyAccount.applyReason}}</td>
                                            <td><input type="text" name="applyReason" v-model="applyReasons[applyAccount.applyId]" /></td>
                                            <td>
                                                <button class="btn btn-primary" @click="passAccountAdult(applyAccount.applyId)">同意</button>
                                                <button class="btn btn-danger"  @click="unPassAccountAdult(applyAccount.applyId)">拒绝</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="applyAccount in applyAccounts">
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="/js/accountjs.js"></script>
</div>
</body>
<footer class="container">
    <hr>
    <p class="float-right"><a href="/pages/execution/admin/account.html">Back to top</a></p>
    <p class="footer">&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</html>