<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Execution</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!---->
    <link rel="stylesheet" href="/webjars/bootstrap-switch/3.3.4/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- jquery -->
    <!-- 	Web jars -->
    <!-- 		jquery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!-- 		Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!-- 		Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- 		Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--bootstrap-switch-->
    <script src="/webjars/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <!--axios-->
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
</head>
<body>
<div id="administratorData">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/pages/execution/admin/execution.html">AlgGroup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">demo<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/visitor/execution.html">execution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/demo/visitor/aboutus.html">About us</a>
                    </li>
                </ul>
            </div>
            <button type="button" id="loginButton" class="btn btn-outline-secondary btn-sm">{{administratorName}}</button>&nbsp;&nbsp;
            <button type="button" id="sigOutButton" class="btn btn-outline-secondary btn-sm">注销</button>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="my-checkbox" checked>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/execution.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/administrator.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                管理员账户管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/account.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                Vip用户管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/datasetManage.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                    <polyline points="2 17 12 22 22 17"></polyline>
                                    <polyline points="2 12 12 17 22 12"></polyline>
                                </svg>
                                数据集管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/htmlElementList.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                页面元素管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/taskInfo.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                任务单管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/execution/admin/algorithm.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                算法管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/demo/admin/index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                更新信息管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/demo/admin/AboutusDemoAdmin.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-file-text">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="16" y1="13" x2="8" y2="13"></line>
                                    <line x1="16" y1="17" x2="8" y2="17"></line>
                                    <polyline points="10 9 9 9 8 9"></polyline>
                                </svg>
                                关于我们页面管理
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="row">
                    <label>
                        <h1>Administrator Manage</h1>
                        <p>update Administrator Message</p>
                        <hr>
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h2><button class="btn btn-large btn-primary" data-toggle="modal" data-target="#addAdministrator">添加管理员</button></h2>
                    </div>
                    <div class="col-md-5 offset-md-5">
                        <label class="bootstrap-switch-label">SearchByAdministratorId:</label>
                        <input v-model="administratorId" PLACEHOLDER="AdministratorId" >
                    </div>
                </div>
                <!-- 添加管理员模态框 -->
                <div class="modal fade" id="addAdministrator" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!--                                        {{values.modal_addAdministrator_title}}-->
                                <h5 class="modal-title" id="addAdministratorModalTitle">新增管理员信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form >
                                    <!--                                            {{values.modal_addAdministrator_form_li2}}-->
                                    <div class="form-group">
                                        <label for="addAdministratorName" class="col-form-label">管理员账号:</label>
                                        <input type="text"  class="form-control" id="addAdministratorName"  v-model="administratorInfo.administratorName">
                                    </div>
                                    <!--                                            {{values.modal_addAdministrator_form_li3}}-->
                                    <div class="form-group">
                                        <label for="addAdministratorPassword" class="col-form-label">管理员密码:</label>
                                        <input type="password"  class="form-control" id="addAdministratorPassword" v-model="administratorInfo.administratorPassword">
                                    </div>
                                    <!--                                            {{values.modal_addAdministrator_form_li3}}-->
                                    <div class="form-group">
                                        <label for="addConfirmAdministratorPassword" class="col-form-label">确认密码:</label>
                                        <input type="password"  class="form-control" id="addConfirmAdministratorPassword" v-model="administratorInfo.confirmAdministratorPassword">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="addAdministrator">添加</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>管理员账户</th>
                            <th>密码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="administrator in filterAdministrator">
                            <td>{{administrator.administratorId}}</td>
                            <td>{{administrator.administratorName}}</td>
                            <td>{{administrator.administratorPassword}}</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#updateAdministrator"+administrator.administratorId'>修改</button>
                                <button class="btn btn-sm btn-danger" data-toggle="modal" v-bind:data-target='"#deleteAdministrator"+administrator.administratorId'>删除</button>
                            </td>
                            <!--模态框对应的id还没有根据administrator赋值 -->
                        </tr>
                        </tbody>
                    </table>
                    <div v-for="administrator in administrators">
                        <!-- 定义修改管理员信息的模态框 -->
                        <div class="modal fade" v-bind:id='"updateAdministrator"+administrator.administratorId' tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
<!--                                        {{values.modal_updateAdministrator_title}}-->
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">修改管理员信息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form >
<!--                                            {{values.modal_updateAdministrator_form_li1}}-->
                                            <div class="form-group">
                                                <label for="administratorId" class="col-form-label">管理员id:</label>
                                                <input type="text"  class="form-control" id="administratorId" v-bind:placeholder="administrator.administratorId"  disabled>
                                            </div>
<!--                                            {{values.modal_updateAdministrator_form_li2}}-->
                                            <div class="form-group">
                                                <label for="elementType" class="col-form-label">管理员账号:</label>
                                                <input type="text"  class="form-control" id="elementType" v-bind:placeholder="administrator.administratorName" v-model="administratorInfo.administratorName">
                                            </div>
<!--                                            {{values.modal_updateAdministrator_form_li3}}-->
                                            <div class="form-group">
                                                <label for="elementChValue" class="col-form-label">管理员密码:</label>
                                                <input type="password"  class="form-control" id="elementChValue" v-model="administratorInfo.administratorPassword">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" @click="updateAdministrator(administrator.administratorId)">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 定义删除管理员信息模态框 -->
                        <div class="modal fade" v-bind:id='"deleteAdministrator"+administrator.administratorId' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- values.modal -->
                                        <h5 class="modal-title" id="exampleModalLabel">删除管理员信息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        确定删除管理员信息吗？删除后信息不可恢复！
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-danger" @click="deleteAdministrator(administrator.administratorId)">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    <script type="text/javascript" src="/js/administratorjs.js"></script>
</div>
</body>
<footer class="container">
    <hr>
    <p class="float-right"><a href="/pages/execution/admin/account.html">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</html>