<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Execution</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <!---->
    <link rel="stylesheet" href="/webjars/bootstrap-switch/3.3.4/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- jquery -->
    <!-- 	Web jars -->
    <!-- 		jquery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-cookie/jquery.cookie.js"></script>
    <!-- 		Vue.js -->
    <script src="/webjars/vue/vue.min.js"></script>
    <!-- 		Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- 		Bootstrap core JavaScript-->
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
    <!--bootstrap-switch-->
    <script src="/webjars/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <!--axios-->
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
</head>
<body>
<div id="algorithmData">
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/pages/execution.html">AlgGroup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/pages/execution/admin/htmlElementList.html">htmlElement<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/execution/admin/datasetManage.html">Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/execution/admin/administrator.html">account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm">登录</button>        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="my-checkbox" value="true" onclick="function f(value) {

        }">
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/execution.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/administrator.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            管理员账户管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/account.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Vip用户管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/datasetManage.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            数据集管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/htmlElementList.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            页面元素管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/taskInfo.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            任务单管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/execution/admin/algorithm.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            算法管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="col-md-12">
                <div class="col-md-10">
                    <h1>Algorithm Manage</h1>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-lg-left">search algorithm Info and change algorithm message</p>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#insertModal" @click="clearData()">添加算法</button>
                </div>
                <div class="col-md-2 offset-md-8">
                    <input v-model="searchString" style="width: 200px;margin:5px;padding: 6px 12px;float: right" type="search" class="form-control" id="search-input" placeholder="Search...">
                </div>

            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">算法ID</th>
                    <th scope="col">算法名称</th>
                    <th scope="col">算法简介</th>
                    <th scope="col">引用论文信息</th>
                    <th scope="col">引用论文链接</th>
                    <th scope="col">算法接口</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="msg in filterInfo">
                    <th scope="row">{{msg.algorithmId}}</th>
                    <td>{{msg.algorithmName}}</td>
                    <td>{{msg.algorithmDescription}}</td>
                    <td>{{msg.algorithmPaperReference}}</td>
                    <td>{{msg.algorithmPaperLink}}</td>
                    <td>{{msg.algorithmCallInterface}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" @click="getDataById(msg.algorithmId)">修改</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" @click="getDataById(msg.algorithmId)">删除</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" v-bind:data-target='"#a"+msg.algorithmId'>详情</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--新增模态框-->
            <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">新增算法信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label">算法名称:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmName">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法简介:</label>
                                    <textarea class="form-control" v-model="info.algorithmDescription"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">引用论文信息:</label>
                                    <textarea class="form-control" v-model="info.algorithmPaperReference"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">引用论文链接:</label>
                                    <textarea class="form-control" v-model="info.algorithmPaperLink"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法接口:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallInterface">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法主机:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallHost">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ exchange:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallExchange">
                                </div>
                                <div class="form-group">
                                <label class="col-form-label">demo Routingkey:</label>
                                <input type="text" class="form-control" v-model="info.algorithmCallDemoRoutingkey">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">execution Routingkey:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallExecutionRoutingkey">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法服务器端口：</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallPort">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ 用户名:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallUsername">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ 密码:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallPassword">
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label >参数个数(一旦确定无法修改):</label>-->
<!--                                    <input type="text" class="form-control" v-model.number="number">-->
<!--                                </div>-->
<!--                                <div class="form-group" v-for="(n, index) in number">-->
<!--                                    <label class="col-form-label">参数名称{{index+1}}:</label>-->
<!--                                    <input type="text" class="form-control" v-model="parameterName[n-1]">-->
<!--                                    <label class="col-form-label">参数{{index+1}}类型:</label>-->
<!--                                    <div class="custom-control custom-radio custom-control-inline">-->
<!--                                        <input value="input" type="radio" :id="n+'customRadio1'" :name="n" class="custom-control-input" v-model="parameterType[n-1]">-->
<!--                                        <label class="custom-control-label m-1" :for="n+'customRadio1'">input</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-control custom-radio custom-control-inline">-->
<!--                                        <input value="boolean" type="radio" :id="n+'customRadio2'" :name="n" class="custom-control-input" v-model="parameterType[n-1]">-->
<!--                                        <label class="custom-control-label m-1" :for="n+'customRadio2'">boolean</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-control custom-radio custom-control-inline">-->
<!--                                        <input value="selected" type="radio" :id="n+'customRadio3'" :name="n" class="custom-control-input" v-model="parameterType[n-1]">-->
<!--                                        <label class="custom-control-label m-1" :for="n+'customRadio3'">selected</label>-->
<!--                                    </div>-->
<!--                                    <hr>-->
<!--                                </div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary submitBtn" @click="insertData()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--修改模态框-->
            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">修改算法信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label">算法名称:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmName">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法简介:</label>
                                    <textarea class="form-control" v-model="info.algorithmDescription"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">引用论文信息:</label>
                                    <textarea class="form-control" v-model="info.algorithmPaperReference"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">引用论文链接:</label>
                                    <textarea class="form-control" v-model="info.algorithmPaperLink"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法接口:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallInterface">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法主机:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallHost">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ exchange:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallExchange">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Demo Routingkey:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallDemoRoutingkey">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Execution Routingkey:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallExecutionRoutingkey">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">算法服务器端口：</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallPort">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ 用户名:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallUsername">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">MQ 密码:</label>
                                    <input type="text" class="form-control" v-model="info.algorithmCallPassword">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" @click="updateData()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--删除模态框-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">删除算法信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label class="col-form-label">确定删除{{info.algorithmName}}吗?对应的<b style="color: red">参数</b>以及<b style="color: red">方案</b>都会被删除!</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" @click="deleteData(info.algorithmId)">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="col-md-12">
                <h1>Add Algorithm Params</h1>
            </div>
            <div class="col-md-6">
                <p class="text-lg-left">u can choose the algorithm,and add some params for execution System</p>
            </div>
            <!--            添加参数内容表单-->
            <form>
                <!--选择算法 -->
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <label>选择算法id：</label>
                        <select v-model="parameterInfo.algorithmId">
                            <option v-for="algorithm in algorithms">
                                {{algorithm.algorithmId}}
                            </option>
                        </select>
                    </div>
                    <div class="row-md-4">
                        <button  type="button" class="btn btn-link"  data-toggle="modal" v-bind:data-target='"#a"+parameterInfo.algorithmId'>
                            点击查看算法详情
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <label>参数个数：</label>
                        <input class="form-control" type="number" v-model.number="paramsNumber">
                    </div>
                </div>
                <div v-for="n in paramsNumber">
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <h2>第{{n}}个参数</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <label>参数名：</label>
                            <input class="form-control" type="text" v-model="parameterInfo.parameterNames[n-1]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <label>参数类型：</label>
                            <select class="form-control"  v-model="parameterInfo.parameterTypes[n-1]">
                                <option>Integer</option>
                                <option>Boolean</option>
                                <option>String</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <label>参数描述：</label>
                            <input class="form-control" type="text" v-model="parameterInfo.parameterDescriptions[n-1]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <label>参数默认值：</label>
                            <input class="form-control" type="text" v-model="parameterInfo.parameterDefaultValues[n-1]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-2">
                            <label>第{{n}}个参数类型：</label>
                            <select class="custom-select" v-model="parameterInfo.parameterSettingInfoTypes[n-1]" name="paraType"  required>
                                <option selected>text</option>
                                <option>radio</option>
                                <option>selection</option>
                                <option>checkbox</option>
                            </select>
                        </div>
                        <!--根据类型输入值，文本类型的不用，radio,selection,checkbox的需要输入可能的值 -->
                        <div class="col-md-4">
                            <label>取值</label>
                            <input type="text" name="value" class="form-control" v-model="parameterInfo.parameterSettingInfoValues[n-1]" >
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary submitBtn" @click="createParameter()">确定</button>
                    </div>
                </div>
            </form>
            <hr/>

            <div class="col-md-12">
                <h1>Set the produceSettings</h1>
            </div>
            <div class="col-md-6">
                <p class="text-lg-left">set the procedure for execution System when account use the system.they can chose which procedure want to run and how to run.</p>
            </div>
            <hr/>
            <!--添加算法步骤的表内容：
            1.根据算法名称进行添加，选择算法名称后可以点击算法详细内容
            2.表单内容包括 algorithm_id name state options defaultOption description
            3.通过表单直接提交，提交地址为 ： /addProduceSettings
            -->
            <form>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>选择算法：</label>
                        <select name="algorithmId" v-model="procedureSetting.algorithmId">
                            <option v-for="algorithm in algorithms">{{algorithm.algorithmId}}</option>
                        </select>
                    </div>
                    <div class="row-md-4">
                        <button  type="button" class="btn btn-link"  data-toggle="modal" v-bind:data-target='"#a"+algorithmId'>
                            点击查看算法详情
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>步骤名称</label>
                        <input type="text"  v-model="procedureSetting.name" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>运行状态</label>
                        <select class="custom-select"  v-model="procedureSetting.state">
                            <option>required</option>
                            <option>optionalSelected</option>
                            <option>optional</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>选择状态</label>
                        <input type="text" class="form-control" title="步骤如果有多种执行方法，各个步骤之间用英文逗号隔开。" v-model="procedureSetting.options" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>默认选择</label>
                        <input type="text" v-model="procedureSetting.defaultOption" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <label>步骤描述</label>
                        <input type="text" v-model="procedureSetting.description" class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 offset-md-4">
                        <input type="submit" value="添加步骤" class="form-control" @click="createProcedureSetting()">
                    </div>
                    <div class="col-md-2">
                        <input type="reset" value="重置" class="form-control">
                    </div>
                </div>

            </form>


            <!--模态框目标区域，遍历算法对象， -->
            <!-- 算法详细信息模态框Modal -->
            <div v-for="algorithm in algorithms" class="modal fade" v-bind:id='"a"+algorithm.algorithmId'  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">算法详细信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="row">
                                    <dt class="col-md-5">算法id:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmId}}</dd>
                                    <dt class="col-md-5">算法名称:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmName}}</dd>
                                    <dt class="col-md-5">算法类型:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmType}}</dd>
                                    <dt class="col-md-5">算法描述:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmDescription}}</dd>
                                    <dt class="col-md-5">引用论文信息:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmPaperReference}}</dd>
                                    <dt class="col-md-5">引用论文链接:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmPaperLink}}</dd>
                                    <dt class="col-md-5">算法接口:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallInterface}}</dd>
                                    <dt class="col-md-5">算法服务主机:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallHost}}</dd>
                                    <dt class="col-md-5">算法Exchange:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallExchange}}</dd>
                                    <dt class="col-md-5">DemoRoutingKey:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallDemoRoutingkey}}</dd>
                                    <dt class="col-md-5">ExecutionRoutingKey:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallExecutionRoutingkey}}</dd>
                                    <dt class="col-md-5">算法服务器端口:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallPort}}</dd>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- modal-->
            <div v-for="algorithm in algorithms" class="modal fade" v-bind:id="algorithm.algorithmName" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalScrollableTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="row">
                                    <dt class="col-md-5">算法id:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmId}}</dd>
                                    <dt class="col-md-5">算法名称:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmName}}</dd>
                                    <dt class="col-md-5">算法类型:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmType}}</dd>
                                    <dt class="col-md-5">算法描述:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmDescription}}</dd>
                                    <dt class="col-md-5">引用论文信息:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmPaperReference}}</dd>
                                    <dt class="col-md-5">引用论文链接:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmPaperLink}}</dd>
                                    <dt class="col-md-5">算法接口:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallInterface}}</dd>
                                    <dt class="col-md-5">算法服务主机:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallHost}}</dd>
                                    <dt class="col-md-5">算法Exchange:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallExchange}}</dd>
                                    <dt class="col-md-5">算法RoutingKey:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallRoutingkey}}</dd>
                                    <dt class="col-md-5">算法服务器端口:</dt>
                                    <dd class="col-md-7">{{algorithm.algorithmCallPort}}</dd>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
    <script type="text/javascript" src="/js/algorithmjs.js"></script>
</div>
</body>
<footer class="container">
    <hr>
    <p class="float-right"><a href="/pages/execution/admin/account.html">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</html>