<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="featureSelection.research.web.mybatisMapper.demo.admin.SchemeDemoAdminMapper">
    <resultMap id="result" type = "featureSelection.research.web.entity.demo.admin.SchemeDemoAdmin">
        <id column="scheme_id" property="schemeId" />
        <result column="scheme_name" property="schemeName" />
        <result column="scheme_description" property="schemeDescription" />
        <result column="scheme_remark" property="schemeRemark" />
        <result column="algorithm_id" property="algorithmId" />
        <result column="algorithm_name" property="algorithmName" />
        <result column="dataset_id" property="datasetId" />
        <result column="dataset_name" property="datasetName" />
        <!--一对多-->
        <collection property="algorithmParameterDemoAdmin" ofType="featureSelection.research.web.entity.demo.admin.AlgorithmParameterDemoAdmin">
            <id property="parameterId" column="parameter_id" />
            <result property="parameterName" column="parameter_name" />
            <result property="parameterType" column="parameter_type" />
            <result property="parameterValue" column="parameter_value" />
            <result property="schemeId" column="scheme_id" />
        </collection>
    </resultMap>

    <!--需要优化-->
    <!--查询所有方案信息-->
    <select id="findAll" resultMap="result">
        select
            algorithm.algorithm_id,parameter_scheme.scheme_id,parameter.parameter_id,
            scheme_name,scheme_description,scheme_remark,dataset_name,
            algorithm_name,parameter_name,parameter_value,dataset.dataset_id
        from
            parameter,parameter_scheme,parameter_scheme_value,algorithm,dataset
        where
            parameter.algorithm_id=parameter_scheme.algorithm_id
        and
            parameter_scheme_value.parameter_id=parameter.parameter_id
        and
            parameter_scheme_value.scheme_id=parameter_scheme.scheme_id
        and
            parameter.algorithm_id=algorithm.algorithm_id
    </select>

    <!--通过ID查询方案-->
    <select id="getSchemeDemoAdminById" resultMap="result" parameterType="int">
        select
            algorithm.algorithm_id,parameter_scheme.scheme_id,dataset_name,
            parameter.parameter_id,scheme_name,scheme_description,dataset.dataset_id,
            scheme_remark,algorithm_name,parameter_name,parameter_value,parameter_type
        from
            parameter,parameter_scheme,parameter_scheme_value,algorithm,dataset
        where
            parameter.algorithm_id=parameter_scheme.algorithm_id
        and
            parameter_scheme_value.parameter_id=parameter.parameter_id
        and
            parameter.algorithm_id=algorithm.algorithm_id
        and
			parameter_scheme.dataset_id=dataset.dataset_id
		and
			parameter_scheme_value.scheme_id=parameter_scheme.scheme_id
        and
            parameter_scheme.scheme_id=#{schemeId}
    </select>

    <!--增加方案-->
    <insert id="insertSchemeDemoAdmin" parameterType="featureSelection.research.web.entity.demo.admin.SchemeDemoAdmin" useGeneratedKeys="true" keyProperty="schemeId">
        insert into parameter_scheme (algorithm_id, scheme_name, scheme_description, scheme_remark, dataset_id)
        values (
            #{algorithmId},
            #{schemeName},
            #{schemeDescription},
            #{schemeRemark},
            #{datasetId}
        )
    </insert>

    <!--更新被绑定ID的方案信息-->
    <update id="updateSchemeDemoAdmin">
        update
            parameter_scheme
        set
            scheme_name = #{schemeName},
            scheme_description = #{schemeDescription},
            scheme_remark = #{schemeRemark},
            dataset_id = #{datasetId}
        where
            scheme_id = #{schemeId}
    </update>

    <!--删除被绑定ID的方案信息-->
    <delete id="deleteScheme">
        delete from parameter_scheme where scheme_id = #{schemeId}
    </delete>
    <delete id="deleteSchemeParameterValue">
        delete from parameter_scheme_value where scheme_id = #{schemeId}
    </delete>
    
    <!--更新方案对应的参数-->
    <update id="updateSchemeParameterDemoAdmin">
        <foreach collection="algorithmParameterDemoAdmin" item="item">
            update
                parameter_scheme_value
            set
                parameter_value = #{item.parameterValue}
            where
                scheme_id = #{item.schemeId}
            and
                parameter_id = ${item.parameterId};
        </foreach>
    </update>

    <!--增加存储参数值的位置(参数方案值表)-->
    <insert id="insertSchemeParameterSchemeIdAndParameterId">
        <foreach collection="algorithmParameterDemoAdmin" item="item">
            <choose>
                <when test="item.parameterType=='boolean'">
                    insert into parameter_scheme_value (scheme_id, parameter_id, parameter_value) values (#{schemeId},#{item.parameterId},'NO');
                </when>
                <when test="item.parameterType=='selected'">
                    insert into parameter_scheme_value (scheme_id, parameter_id, parameter_value) values (#{schemeId},#{item.parameterId},0);
                </when>
                <otherwise>
                    insert into parameter_scheme_value (scheme_id, parameter_id, parameter_value) values (#{schemeId},#{item.parameterId},0);
                </otherwise>
            </choose>
        </foreach>
    </insert>

    <!--查询所有数据集ID和名称提供方案调用-->
    <select id="findAllIdAndName" resultMap="result">
        select dataset_id,dataset_name
        from dataset;
    </select>
</mapper>